--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cpu
torchvision==0.10.1+cpu
numpy==1.21.6
scipy==1.6.3
Pillow==9.5.0
opencv-python==5.0.0.93
matplotlib==3.5.3
easydict==1.13
PyYAML==6.0.1
tqdm==4.68.2
shapely==2.0.7
py360convert==0.1.0
open3d==0.13.0
typing_extensions==4.7.1
cached-property==1.5.2
tensorboard==2.11.2
protobuf==3.20.3
scikit-learn==1.0.2